name: Build GCP Image using Packer

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  packer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3
        with:
          version: latest

      - name: Authenticate to GCP
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > gcp-key.json
          export GOOGLE_APPLICATION_CREDENTIALS=$PWD/gcp-key.json

      - name: Packer Init
        run: packer init .

      - name: Packer Validate
        run: packer validate gcp-ubuntu.pkr.hcl

      - name: Build GCP Image
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/gcp-key.json
        run: packer build gcp-ubuntu.pkr.hcl
